<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/character_styles.css">
    <link rel="stylesheet" href="/css/modal_styles.css">
</head>
<body>
    <%- include('partials/header') %>

    <nav class="character-navigation-top">
        <% if (previousCharacter) { %>
            <a href="/character/<%= previousCharacter.id %>" class="nav-link prev">
                <img src="<%= previousCharacter.image %>" alt="<%= previousCharacter.title %>" class="nav-image tiny">
                <span class="nav-text">&laquo; <%= previousCharacter.title %></span>
            </a>
        <% } %>
        <% if (nextCharacter) { %>
            <a href="/character/<%= nextCharacter.id %>" class="nav-link next">
                <img src="<%= nextCharacter.image %>" alt="<%= nextCharacter.title %>" class="nav-image tiny">
                <span class="nav-text"><%= nextCharacter.title %> &raquo;</span>
            </a>
        <% } %>
    </nav>

    <main>
        <h1><%= character.title %></h1>
        <section class="character-banner" style="background-image: url('<%= character.image %>');">
            
        </section>

        <section class="character-description">
            <p><%= character.description %></p>
        </section>

        <section class="character-carousel">
            <div class="carousel">
                <% const shuffledImages = character.image_gallery.sort(() => Math.random() - 0.5); %>
                <% shuffledImages.forEach((image, index) => { %>
                    <div class="carousel-item" data-index="<%= index %>">
                        <img src="<%= image %>" alt="<%= character.title %>" class="gallery-image" data-fullsize="<%= image %>">
                    </div>
                <% }); %>
            </div>
            <div class="carousel-dots">
                <% shuffledImages.forEach((_, index) => { %>
                    <span class="dot" data-index="<%= index %>"></span>
                <% }); %>
            </div>
        </section>


        <div id="imageModal" class="modal">
            <span class="modal-close">&times;</span>
            <img class="modal-content" id="fullSizeImage">
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const modal = document.getElementById('imageModal');
                const modalImg = document.getElementById('fullSizeImage');
                const closeModal = document.querySelector('.modal-close');

                document.querySelectorAll('.gallery-image').forEach(image => {
                    image.addEventListener('click', () => {
                        modal.style.display = 'block';
                        modalImg.src = image.dataset.fullsize;
                    });
                });

                closeModal.addEventListener('click', () => {
                    modal.style.display = 'none';
                });

                modal.addEventListener('click', (event) => {
                    if (event.target === modal) {
                        modal.style.display = 'none';
                    }
                });
            });
        </script>
    </main>

    <%- include('partials/footer') %>
</body>
</html>