<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= cdnUrl %>/css/styles.css?v=<%= version %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
</head>
<body>
    <h1>Welcome to Wavelength Lore</h1>

    <% for (var season in videos) { %>
        <div class="season-title">
            <h2><%= videos[season].title %></h2>
            <a href="<%= videos[season].seasonLink %>" target="_blank" class="center-link">Watch Full Season</a>
        </div>
        <div class="carousel" id="carousel-<%= season %>">
            <% for (var episode in videos[season].episodes) { %>
                <div>
                    <h3 class="episode-title">
                        <a href="/season/<%= season.replace('season', '') %>/episode/<%= episode.replace('episode', '') %>">
                            <%= videos[season].episodes[episode].title %>
                        </a>
                    </h3>
                    <a href="<%= videos[season].episodes[episode].youtubeLink %>" target="_blank">
                        <img src="<%= videos[season].episodes[episode].image %>" alt="<%= videos[season].episodes[episode].title %>">
                    </a>
                    <p><%= videos[season].episodes[episode].description %></p>
                </div>
            <% } %>
        </div>

        <br /><hr /><br />
    <% } %>

    <%- include('partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        const videos = JSON.parse(`<%- JSON.stringify(videos).replace(/</g, '\u003c') %>`);
        $(document).ready(function(){
            Object.keys(videos).forEach(season => {
                $(`#carousel-${season}`).slick({
                    infinite: true,
                    slidesToShow: 3, // Ensure at most three items are shown at once
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 4000, /* Slowed down to half the speed */
                    dots: true,
                    arrows: true
                });
            });
        });
    </script>
</body>
</html>