<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= cdnUrl %>/css/styles.css?v=<%= cssVersion %>">
</head>
<body>
    <h1><%= title %></h1>
    <p>Testing</p>
    <img src="<%= cdnUrl %>/images/wavelength-bg.jpg" alt="Wavelength Background" style="width:100%; height:auto;">
    <script src="<%= cdnUrl %>/js/script.js"></script>

    
</body>
</html>